body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family:"Verdana";
  color:#3C3E3D;
}

#top-header {
  background-color: #405562
}
 
#nav {
  float:right;
  width:100%;
  padding-left: 13%;
  background-color: #405562;
}

#nav-logo {
  float:left;
  padding-left: 12%;
}

#logo{
  height:42%;
  width:42%;
  padding-top: 8%
}

#nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
#nav li {
  font-size: 0.8em;
  line-height: 40px;
  height: 40px;
}
 
#nav a {
  text-decoration: none;
  font-weight:bold;
  color: #607881;
  display: block;
}
 
#nav a.active {
  background-color: #314248;
  color: #fff;
  cursor: default;
  border-bottom:3px solid #25CFBE;
}
 
@media screen and (min-width: 600px) {
  #nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 0.8em;
  }
 
  #nav li {
    display: inline-block;
    margin-right: -4px;
  }

  #heading-container{
    background-color: #6E868F;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 7%;
    padding-bottom: 4%;
    font-size: 1.8em;
    color:#fff;
  }

  #highlight-text{
    background-color: #E89C45;
  }

  #main-content{
    color:#353739;
    width:75%;
    float: left;
  }

  #heading{
    font-weight: bold;
    font-size:1.6em;
    font-family: "Verdana";
    padding-top: 0.5em;
  }

  #introduction-para1{
    font-size: 1.33em;
 }

  .introduction-para2{
    font-size: 1em;
  }

  #content-introduction{
     font-family: "Palatino Linotype";
     padding-bottom: 5em;
  }

  #sidebar{
    width:25%;
    float: right;
    max-height: 50%;
    padding-top: 4%;
    
  }

  #body{
    padding-left: 12%;
    padding-right: 12%;
  }

  #submenu{
    border-radius: 5px 5px 5px 5px;
    padding-top: 0em;
    background-color: #FFFFFF;
  
  }

  #personal-info{
    position: relative; 
    left: 0; 
    top: 0;
    margin-top: .75em;
    padding-bottom: 1em;
    border-radius: 5px 5px 0px 0px;
    padding-top: 0em;
  }

  #personal-info-text{
    margin-top: 4.5em;
    font-size: 0.75em;
    padding-left: 1.7em;
   
  }

  .personal-info-heading{
    padding-right: 0.65em;
    font-weight: bold;

  }

  .personal-info-content{
    padding-left: 0.4em;
    font-family:"Palatino Linotype";
  }
  
  .sidebar-element{
    border-style: solid;
    border-color: #E1E1E1;
    border-width: 1px;
    background-color: #E4E1E2;
    padding-top: 0.75em;
  }

  .submenu-heading{
    text-align: center;
    font-weight:bold;
    font-size: 1.1em;
    display:block;
    padding-top: .5em;
  }

  #submenu-bar{
    text-align: left;
  }

  #submenu-list{
     list-style-type: none;
     font-size: 1.1em;
     padding-left: 0px;
  }

  .submenu-items-link{
    text-decoration: none;
    color:#25CFBE;
    padding-left: 1em;
  }

  #submenu-active{
    background-color: #25CFBE;  
  }


  #submenu-active-link{
    color: #fff;
  }

  .submenu-list-item{
    padding-bottom: 0.5em;
  }

  #examples-link-span{
    vertical-align: middle;
    display: inline-block;
  }

  #skyline { 
    max-width: 100%; 
    height: auto; 
    border-radius: 5px 5px 0px 0px;
    position: relative; 
    top: 0; 
    left: 0;
  }

  #profile-pic{
    position: absolute; 
    top: 60px; 
    left: 80px;
    max-width: 30%; 
    height: auto;
    border-radius: 40px 40px 40px 40px;
    border-color: #FFFFFF;
    border-width: 4px;
    border-style: solid;
  }


 #send-message{
    background-color: #CEC9C8;
    padding-bottom: 1em;
    border-radius: 0px 0px 0px 0px;

  }

  #send-msg-content{
    margin-left: 1em;
    padding-top: 0.5em;
  }

  

  textarea{
    resize: none;
    padding-bottom: 0.5em;
  }

  input{
    padding-bottom: 0.5em; 
  }

  .input{
    border-radius: 5px 5px 5px 5px;
    border-color: #BEBCBD;
    border-style:solid;
    border-width: 0.1em;
    font-size: 1.1em;
  }

  .send-msg-titles{
    color: #868485; 
    font-size: 0.75em;
  }

  #msg-title{
    padding-top: 0.5em;
  }

  #wordCount{
    color: #ADACAB;
    font-size:0.4em;
    vertical-align: text-top;
    padding-left: 19em;
  }

  #send-button{
    border-style:solid;
    border-width: 0.1em;
    border-radius: 5px 5px 5px 5px;
    background-color: #25CFBE;
    width:92%; 
    height: 3em;
    font-family:"Verdana";
    color:#FFFFFF;
  }

  #location{
    border-radius: 0px 0px 5px 5px;
  }

  #map{
    max-width: 100%; 
    height: auto;
    padding-top: 0.75em;
  }

  #address{
    padding-left: 1.75em;
    line-height: 1.7em;
    padding-bottom: 0.5em;
  }

  #quote{
    float:right;
    width:50%;
    margin-left: 3em;
    margin-right: 1.5em;
    shape-outside: circle(50% at 0 0) margin-box;
  }

  #saying{
    color:#526A75;
    font-size: 1.2em;
    font-family: "Cursive";
    font-style: italic;
  }

  #normal-text{
    float:left;
    width:50%;
  }

  #author{
    text-align: right;
  }

 .object-img{
 float: left;
  width: 20%;
}

.object-content{
  float: right;
  width: 80%;
}

.obj-img-src{
  width:9em;
}

.object-heading{
  color:#26CDC1;
  padding-bottom: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  margin-top: 0em; 
  font-size: 1.5em;
  font-weight: bold;

}

.object-details{
  padding-top: 0em;
  margin-top: 0em; 
  font-family: "Palatino Linotype";
  font-size: 1.1em; 
}

.series-object{
  padding-bottom: 10em;
  width:100%;
}


.line-center{
    margin:0;padding:0 10px;
    background:#fff;
    display:inline-block;
}
p.divider{
    text-align:center;
    position:relative;
    z-index:2;
    font-size: 1.5em;
    padding-top: 0em;
    font-weight: bold;
    
}

p.divider:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 4px #E1DFE0;
    width: 95%;
    z-index:-1;
}

#related-articles{
  width: 140%;
  align:center;
}

.article{
    position: relative; 
    border-radius: 5px 5px 5px 5px;
    float: right;
    width: 30%;
    border-style: solid;
    border-color: #E1E1E1;
    border-width: 1px;
    display: block;
    margin-right:2em;
   
}

.article-img{
  height: 82%;
  width: 100%;
  margin-bottom: 0em;
  position: relative;

}

.article-info{
  max-width: 82%;  
}

.article2{
    position: relative; 
    border-radius: 5px 5px 5px 5px;
    float: left;
    width: 30%;
    border-style: solid;
    border-color: #E1E1E1;
    border-width: 1px;
    display: block;
    margin-right:2em;
    margin-top: 5em;    
   
}











}